<div class="popin">
  <!-- Trigger -->
  <a href="#" class="trigger" @click.prevent="onTriggerClick">i</a>

  <!-- Content -->
  <div class="content" :class="[active ? 'active' : '']">
    <div class="mask" @click.prevent="onMaskClick"></div>
    <div class="inner">
      <!-- Close -->
      <a href="#" class="close" @click.prevent="onCloseClick">
        <img class="icon default" src="../../../static/svg/cross.svg" alt="" />
        <img
          class="icon hover"
          src="../../../static/svg/cross-hover.svg"
          alt=""
        />
      </a>

      <!-- Texts -->
      <p class="title">aastbis <span class="version">{{ version }}</span></p>
      <p>Real time code sharing for you lectures and presentations.</p>
      <ul>
        <li>
          <a href="https://github.com/Youssef1701" target="_blank">GitHub</a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/aastbis" target="_blank"
            >NPM</a
          >
        </li>
      </ul>

      <p class="title">Development</p>
      <ul>
        <li>
          Youssef Ehab (<a href="https://github.com/Youssef1701" target="_blank"
            >GitHub</a
          >, <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>,
          <a href="https://youssefehab.com/" target="_blank">Site</a>)
        </li>
      </ul>

      <p class="title">UX / UI</p>
      <ul>
        <li>Done by AAST-SV BIS students</li>
      </ul>
    </div>
  </div>
</div>
